# Big G Express: Predicting Derates
In this project, you will be working with fault code data and vehicle onboard diagnostic data to try and predict an upcoming full derate. These are indicated by an SPN 5246. 
 
Note that in its raw form the data does not have "labels", so you must define what labels you are going to use and create those labels in your dataset. Also, you will likely need to perform some significant feature engineering in order to build an accurate predictor.

When evaluating the performance of your model, assume that the cost associated with a missed full derate is approximately $4000.00$ in towing and repairs, and the cost of a false positive prediction is about $500 due to having the truck off the road and serviced unnecessarily.

A failed component is usually what triggers this code.

Common Failures

 * Failed DEF doser valve
 * Associated fault code: SPN 5394
 * You ran out of DEF fluid
 * Associated fault code: SPN 5392, SPN 1761
 * Inlet and Outlet NOx sensors failed, not making pressure
 * Associated fault code: SPN 4094
 * EGR system malfunction causing NOX efficiency problems
 * DEF pump failed, not making pressure
 * Associated fault code: SPN 4334, SPN 4339
 * DEF module has failed or DEF harness failure or no power to DEF module causes DEF gauge to be empty and showing datalink error and SCR malfunction.
 * The DEF / ECM could also need updating to eliminate ghost codes.

##### In this notebook, we will:
 * load and compare features between the preprocessed notebooks spns/fmi and the emission control spns/fmi
 * Generate onehotencoded columns for the top faultIDs
 * and other preprocessing that needs to be done, in preparation for fitting the ml model

In [1]:
import pandas as pd
import numpy as np
import re
import datetime as dt
import missingno as msno
from datetime import timedelta
import matplotlib.pyplot as plt

In [2]:
faults_processed = pd.read_csv('../data/faults_merged_pt1_done.csv', low_memory=False)
faults_processed.head(2)

,Unnamed: 0,RecordID,EventTimeStamp,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,...,EngineTimeLtd,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus,Speed,TurboBoostPressure,geometry,distance
0,0,1,2015-02-21 10:47:13,111,17,True,2,1439,38.86,-84.63,...,1632.2,12300.907429328,0,False,78.8,1023,0,0,POINT (2995931.112894146 658983.4394280221),322511.48
1,5,6,2015-02-21 11:40:22,111,17,True,1,1417,33.04,-96.18,...,9480,70349.809963756,4.583399,True,111.2,1023,13.6022,6.67,POINT (2203912.075923482 -273868.7810324882),1241142.92

#### For some reason, the df reads in with columns that are mixed types. Need to reset some column dtypes.

In [3]:
#For some reason, the df reads in with columns that are mixed types. Need to reset some column dtypes.
# fix data types
faults_processed=faults_processed.drop(columns=['Unnamed: 0'])
faults_processed['EventTimeStamp'] = pd.to_datetime(faults_processed['EventTimeStamp'])
faults_processed['LocationTimeStamp'] = pd.to_datetime(faults_processed['LocationTimeStamp'])

In [4]:
faults_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507342 entries, 0 to 507341
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   RecordID                   507342 non-null  int64
 1   EventTimeStamp             507342 non-null  datetime64[ns]
 2   spn                        507342 non-null  int64
 3   fmi                        507342 non-null  int64
 4   active                     507342 non-null  bool
 5   activeTransitionCount      507342 non-null  int64
 6   EquipmentID                507342 non-null  int64
 7   Latitude                   507342 non-null  float64
 8   Longitude                  507342 non-null  float64
 9   LocationTimeStamp          507342 non-null  datetime64[ns]
 10  time_of_day                507342 non-null  object
 11  BarometricPressure         507342 non-null  object
 12  CruiseControlActive        507342 non-null  bool
 13  CruiseControlSetSpeed      507342 non-null  float64
 14  DistanceLtd                507342 non-null  object
 15  EngineCoolantTemperature   507342 non-null  object
 16  EngineLoad                 507342 non-null  int64
 17  EngineOilPressure          507342 non-null  object
 18  EngineOilTemperature       507342 non-null  object
 19  EngineRpm                  507342 non-null  object
 20  EngineTimeLtd              507342 non-null  object
 21  FuelLtd                    507342 non-null  object
 22  FuelRate                   507342 non-null  object
 23  IgnStatus                  507342 non-null  bool
 24  IntakeManifoldTemperature  507342 non-null  object
 25  LampStatus                 507342 non-null  int64
 26  Speed                      507342 non-null  object
 27  TurboBoostPressure         507342 non-null  object
 28  geometry                   507342 non-null  object
 29  distance                   507342 non-null  float64
dtypes: bool(3), datetime64[ns](2), float64(4), int64(7), object(14)
memory usage: 106.0+ MB

In [5]:
sfc = pd.read_excel("../data/Service Fault Codes_1_0_0_167.xlsx")
sfc.head(2)

C:\Users\micha\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failur...,Error internal to the ECM related to memory ha...
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechan...,Mechanical failure in the engine timing actuat...

In [6]:
sfc=sfc.rename(columns={'Lamp Device':'lamp_device', 
                        'SPN':'spn',
                        'Cummins Description':'cummins_descrip',
                       'Algorithm Description':'algo',
                        'J1939 FMI':'fmi'
                       })

In [7]:

keywords = ['NOx', 'Aftertreatment', 'Emissions', 'DEF', 'Oxidation', 'Catalyst', 'Decomposition', 'SCR', 'DPF']

def filter_function(description):
    return any(re.search(r'\b{}\b'.format(keyword), description, flags=re.IGNORECASE) for keyword in keywords)

sfc_emission_faults = sfc[sfc['cummins_descrip'].apply(filter_function)]

In [8]:
#969 rows.  
sfc_emission_faults.head(2)

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,spn,fmi,J2012 Pcode,Lamp Color,lamp_device,cummins_descrip,algo
1061,Y,1663,167,Not Mapped,326,128,13,3241,13,P141A,Amber,Warning,Aftertreatment Exhaust Gas Temperature 1 Swapp...,The aftertreatment diesel oxidation catalyst i...
1062,Y,1664,167,Not Mapped,380,128,11,4796,31,Not Mapped,Amber,Warning,Aftertreatment 1 Diesel Oxidation Catalyst Mis...,The aftertreatment diesel oxidation catalyst i...

In [9]:
sfc_emission_faults[["spn", "fmi"]]=sfc_emission_faults[["spn", "fmi"]].apply(pd.to_numeric)

C:\Users\micha\AppData\Local\Temp\ipykernel_9600\1603515747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sfc_emission_faults[["spn", "fmi"]]=sfc_emission_faults[["spn", "fmi"]].apply(pd.to_numeric)

In [10]:
sfc_emission_faults['spn_combined']=sfc_emission_faults['spn'].astype(str)+'_'+ sfc_emission_faults['fmi'].astype(str)

C:\Users\micha\AppData\Local\Temp\ipykernel_9600\317711213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sfc_emission_faults['spn_combined']=sfc_emission_faults['spn'].astype(str)+'_'+ sfc_emission_faults['fmi'].astype(str)

In [11]:
sfc_emission_faults.info()

<class 'pandas.core.frame.DataFrame'>
Index: 969 entries, 1061 to 5796
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Published in CES 14602  969 non-null    object
 1   Cummins Fault Code      969 non-null    int64
 2   Revision                969 non-null    int64
 3   PID                     969 non-null    object
 4   SID                     969 non-null    object
 5   MID                     969 non-null    object
 6   J1587 FMI               969 non-null    int64
 7   spn                     969 non-null    int64
 8   fmi                     969 non-null    int64
 9   J2012 Pcode             969 non-null    object
 10  Lamp Color              836 non-null    object
 11  lamp_device             836 non-null    object
 12  cummins_descrip         969 non-null    object
 13  algo                    190 non-null    object
 14  spn_combined            969 non-null    object
dtypes: int64(5), object(10)
memory usage: 121.1+ KB

In [12]:
sfc_emission_faults.head(2)

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,spn,fmi,J2012 Pcode,Lamp Color,lamp_device,cummins_descrip,algo,spn_combined
1061,Y,1663,167,Not Mapped,326,128,13,3241,13,P141A,Amber,Warning,Aftertreatment Exhaust Gas Temperature 1 Swapp...,The aftertreatment diesel oxidation catalyst i...,3241_13
1062,Y,1664,167,Not Mapped,380,128,11,4796,31,Not Mapped,Amber,Warning,Aftertreatment 1 Diesel Oxidation Catalyst Mis...,The aftertreatment diesel oxidation catalyst i...,4796_31

In [13]:

faults_processed['spn_combined']=faults_processed['spn'].astype(str)+'_'+ faults_processed['fmi'].astype(str)

In [14]:
faults_processed.head()

,RecordID,EventTimeStamp,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,...,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus,Speed,TurboBoostPressure,geometry,distance,spn_combined
0,1,2015-02-21 10:47:13,111,17,True,2,1439,38.86,-84.63,2015-02-21 11:34:25,...,12300.907429328,0,False,78.8,1023,0,0,POINT (2995931.112894146 658983.4394280221),322511.48,111_17
1,6,2015-02-21 11:40:22,111,17,True,1,1417,33.04,-96.18,2015-02-21 11:40:59,...,70349.809963756,4.583399,True,111.2,1023,13.6022,6.67,POINT (2203912.075923482 -273868.7810324882),1241142.92,111_17
2,7,2015-02-21 11:40:52,111,17,True,2,1597,36.90,-86.44,2015-02-21 11:41:29,...,40961.065436834,14.29175,True,78.8,1023,41.53478,20.59,POINT (2924633.055684726 399381.7435326362),302008.99,111_17
3,11,2015-02-21 11:42:19,111,17,True,1,1582,40.16,-80.15,2015-02-21 11:42:55,...,37724.957799834,13.72378,True,78.8,1023,64.82649,17.69,POINT (3294822.680030754 940816.0324587803),513749.92,111_17
4,15,2015-02-21 11:14:38,1067,2,True,127,309,36.18,-86.70,2015-02-21 11:44:52,...,9487.342989502,0,True,100.4,1279,26.31119,0.58,POINT (2930614.391331102 316197.3132442413),316187.13,1067_2

In [15]:
faults_series=faults_processed.spn_combined
sfc_series=sfc_emission_faults.spn_combined

common_faultcodes=faults_series[faults_series.isin(sfc_series)]

unique_faults=common_faultcodes

In [16]:
unique_faults

32        4364_18
82         3226_4
95        4364_18
121        5848_4
139       3936_15
           ...
507315     1761_9
507316    1761_19
507317     3031_9
507333    3362_31
507340    3216_10
Name: spn_combined, Length: 20585, dtype: object

In [17]:
one_hot_encoded = pd.get_dummies(unique_faults)

In [18]:
one_hot_encoded

,1761_1,1761_10,1761_11,1761_17,1761_18,1761_19,1761_3,1761_4,1761_9,3031_18,...,5862_3,5862_4,6773_16,6780_3,6802_31,7321_4,7323_4,7854_2,7854_3,7854_4
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
82,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
139,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507315,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
507316,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
507317,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
507333,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
507340,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
faults_processed.loc[30:35]

,RecordID,EventTimeStamp,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,...,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus,Speed,TurboBoostPressure,geometry,distance,spn_combined
30,104,2015-02-21 12:55:52,50353,0,True,2,1432,35.89,-84.74,2015-02-21 12:56:28,...,67281.187407724,0,True,46.4,2,52.94277,0.87,POINT (3106399.922361057 348228.4870717321),145026.01,50353_0
31,109,2015-02-21 13:01:31,111,17,True,1,1600,36.48,-84.22,2015-02-21 13:02:08,...,36166.078520982,0,True,53.6,1023,55.48651,2.32,POINT (3126063.34307579 426361.9602302434),98980.72,111_17
32,112,2015-02-21 13:02:17,4364,18,True,1,1442,35.20,-86.69,2015-02-21 12:57:08,...,68055.34360611,14.96539,True,96.8,17407,49.27279,20.3,POINT (2968390.08398245 213428.3950517494),336897.95,4364_18
33,113,2015-02-21 13:04:16,111,17,True,1,1377,36.03,-85.09,2015-02-21 13:04:53,...,73889.58337453,18.21472,True,59,1023,52.93306,26.39,POINT (3071717.927490912 351083.5323678879),173162.18,111_17
34,117,2015-02-21 12:43:18,929,9,True,126,1630,35.80,-86.40,2015-02-21 13:06:20,...,33322.794725306,0.9906483,True,64.4,1279,0,0,POINT (2970299.753093609 285813.7243969291),293501.49,929_9
35,122,2015-02-21 13:09:56,929,9,True,126,1605,36.94,-86.49,2015-02-21 13:10:31,...,32191.609998642,0.4887198,True,86,1279,3.52434,0.29,POINT (2919165.862244155 401619.5793119175),307216.81,929_9

In [20]:
merged_df = pd.merge(faults_processed, one_hot_encoded, how='left', left_index=True, right_index=True)
merged_df

,RecordID,EventTimeStamp,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,...,5862_3,5862_4,6773_16,6780_3,6802_31,7321_4,7323_4,7854_2,7854_3,7854_4
0,1,2015-02-21 10:47:13,111,17,True,2,1439,38.86,-84.63,2015-02-21 11:34:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,2015-02-21 11:40:22,111,17,True,1,1417,33.04,-96.18,2015-02-21 11:40:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,2015-02-21 11:40:52,111,17,True,2,1597,36.90,-86.44,2015-02-21 11:41:29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,2015-02-21 11:42:19,111,17,True,1,1582,40.16,-80.15,2015-02-21 11:42:55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15,2015-02-21 11:14:38,1067,2,True,127,309,36.18,-86.70,2015-02-21 11:44:52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507337,1248448,2020-03-06 13:12:43,96,3,True,126,1936,30.38,-81.74,2020-03-06 13:29:33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507338,1248452,2020-03-06 13:42:48,111,18,True,93,1886,39.02,-77.03,2020-03-06 13:43:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507339,1248455,2020-03-06 14:04:23,1569,31,True,5,1994,34.39,-79.46,2020-03-06 14:04:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507340,1248456,2020-03-06 14:13:38,3216,10,True,1,1850,34.43,-84.92,2020-03-06 14:14:14,...,False,False,False,False,False,False,False,False,False,False
507341,1248457,2020-03-06 14:14:13,111,18,True,8,2377,35.03,-85.32,2020-03-06 14:14:49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#onehotencoded by hand.  Didn't show in the combined columns...
merged_df['1569_31'] = (merged_df['spn'] == 1569) & (merged_df['fmi'] == 31)

In [22]:
merged_df.fillna(False, inplace=True)

In [23]:
merged_df.head(2)

,RecordID,EventTimeStamp,spn,fmi,active,activeTransitionCount,EquipmentID,Latitude,Longitude,LocationTimeStamp,...,5862_4,6773_16,6780_3,6802_31,7321_4,7323_4,7854_2,7854_3,7854_4,1569_31
0,1,2015-02-21 10:47:13,111,17,True,2,1439,38.86,-84.63,2015-02-21 11:34:25,...,False,False,False,False,False,False,False,False,False,False
1,6,2015-02-21 11:40:22,111,17,True,1,1417,33.04,-96.18,2015-02-21 11:40:59,...,False,False,False,False,False,False,False,False,False,False

In [24]:
merged_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507342 entries, 0 to 507341
Data columns (total 243 columns):
 #    Column                     Dtype
---   ------                     -----
 0    RecordID                   int64
 1    EventTimeStamp             datetime64[ns]
 2    spn                        int64
 3    fmi                        int64
 4    active                     bool
 5    activeTransitionCount      int64
 6    EquipmentID                int64
 7    Latitude                   float64
 8    Longitude                  float64
 9    LocationTimeStamp          datetime64[ns]
 10   time_of_day                object
 11   BarometricPressure         object
 12   CruiseControlActive        bool
 13   CruiseControlSetSpeed      float64
 14   DistanceLtd                object
 15   EngineCoolantTemperature   object
 16   EngineLoad                 int64
 17   EngineOilPressure          object
 18   EngineOilTemperature       object
 19   EngineRpm                  object
 20   EngineTimeLtd              object
 21   FuelLtd                    object
 22   FuelRate                   object
 23   IgnStatus                  bool
 24   IntakeManifoldTemperature  object
 25   LampStatus                 int64
 26   Speed                      object
 27   TurboBoostPressure         object
 28   geometry                   object
 29   distance                   float64
 30   spn_combined               object
 31   1761_1                     bool
 32   1761_10                    bool
 33   1761_11                    bool
 34   1761_17                    bool
 35   1761_18                    bool
 36   1761_19                    bool
 37   1761_3                     bool
 38   1761_4                     bool
 39   1761_9                     bool
 40   3031_18                    bool
 41   3031_2                     bool
 42   3031_3                     bool
 43   3031_4                     bool
 44   3031_9                     bool
 45   3216_10                    bool
 46   3216_11                    bool
 47   3216_16                    bool
 48   3216_2                     bool
 49   3216_20                    bool
 50   3216_21                    bool
 51   3216_3                     bool
 52   3216_4                     bool
 53   3216_9                     bool
 54   3217_2                     bool
 55   3218_2                     bool
 56   3222_5                     bool
 57   3226_10                    bool
 58   3226_11                    bool
 59   3226_16                    bool
 60   3226_2                     bool
 61   3226_20                    bool
 62   3226_21                    bool
 63   3226_4                     bool
 64   3226_9                     bool
 65   3227_10                    bool
 66   3227_21                    bool
 67   3228_2                     bool
 68   3242_0                     bool
 69   3242_15                    bool
 70   3242_16                    bool
 71   3242_3                     bool
 72   3242_4                     bool
 73   3246_0                     bool
 74   3246_15                    bool
 75   3246_16                    bool
 76   3246_2                     bool
 77   3246_3                     bool
 78   3246_4                     bool
 79   3251_0                     bool
 80   3251_10                    bool
 81   3251_15                    bool
 82   3251_16                    bool
 83   3251_2                     bool
 84   3251_3                     bool
 85   3251_4                     bool
 86   3360_11                    bool
 87   3360_12                    bool
 88   3360_19                    bool
 89   3360_2                     bool
 90   3360_9                     bool
 91   3361_12                    bool
 92   3361_2                     bool
 93   3361_3                     bool
 94   3361_4                     bool
 95   3361_5                     bool
 96   3362_31                    bool
 97   3362_7                     bool
 98   3363_16                    bool
 99   3363_3                     bool
 100  3363_4                     bool
 101  3363_5                     bool
 102  3363_7                     bool
 103  3364_10                    bool
 104  3364_11                    bool
 105  3364_18                    bool
 106  3364_3                     bool
 107  3364_9                     bool
 108  3480_17                    bool
 109  3480_2                     bool
 110  3480_3                     bool
 111  3480_4                     bool
 112  3482_2                     bool
 113  3482_3                     bool
 114  3482_7                     bool
 115  3490_3                     bool
 116  3490_4                     bool
 117  3490_7                     bool
 118  3515_10                    bool
 119  3521_18                    bool
 120  3556_18                    bool
 121  3556_2                     bool
 122  3556_5                     bool
 123  3610_2                     bool
 124  3610_3                     bool
 125  3610_4                     bool
 126  3703_31                    bool
 127  3720_15                    bool
 128  3936_14                    bool
 129  3936_15                    bool
 130  3936_16                    bool
 131  3936_7                     bool
 132  4094_18                    bool
 133  4094_31                    bool
 134  4096_31                    bool
 135  4331_16                    bool
 136  4331_18                    bool
 137  4334_16                    bool
 138  4334_18                    bool
 139  4334_2                     bool
 140  4334_3                     bool
 141  4334_4                     bool
 142  4339_7                     bool
 143  4340_3                     bool
 144  4340_4                     bool
 145  4340_5                     bool
 146  4342_3                     bool
 147  4342_4                     bool
 148  4342_5                     bool
 149  4344_3                     bool
 150  4344_4                     bool
 151  4344_5                     bool
 152  4346_5                     bool
 153  4360_0                     bool
 154  4360_10                    bool
 155  4360_16                    bool
 156  4360_3                     bool
 157  4360_4                     bool
 158  4363_0                     bool
 159  4363_10                    bool
 160  4363_16                    bool
 161  4363_2                     bool
 162  4363_3                     bool
 163  4363_4                     bool
 164  4364_18                    bool
 165  4364_31                    bool
 166  4375_2                     bool
 167  4375_4                     bool
 168  4376_3                     bool
 169  4376_4                     bool
 170  4376_5                     bool
 171  4376_7                     bool
 172  4765_16                    bool
 173  4765_2                     bool
 174  4765_3                     bool
 175  4765_4                     bool
 176  4766_15                    bool
 177  4766_3                     bool
 178  4792_14                    bool
 179  4794_31                    bool
 180  4795_31                    bool
 181  4796_31                    bool
 182  5024_10                    bool
 183  5031_10                    bool
 184  520953_4                   bool
 185  521032_14                  bool
 186  5246_0                     bool
 187  5246_16                    bool
 188  5298_17                    bool
 189  5298_18                    bool
 190  5319_31                    bool
 191  5392_31                    bool
 192  5394_3                     bool
 193  5394_4                     bool
 194  5394_5                     bool
 195  5394_7                     bool
 196  5397_31                    bool
 197  5491_3                     bool
 198  5491_4                     bool
 199  5491_5                     bool
 200  5491_7                     bool
 201  5569_2                     bool
 202  5742_11                    bool
 203  5742_12                    bool
 204  5742_16                    bool
 205  5742_3                     bool
 206  5742_4                     bool
 207  5742_9                     bool
 208  5743_11                    bool
 209  5743_12                    bool
 210  5743_3                     bool
 211  5743_4                     bool
 212  5743_9                     bool
 213  5745_18                    bool
 214  5745_3                     bool
 215  5745_4                     bool
 216  5746_4                     bool
 217  5835_21                    bool
 218  5835_3                     bool
 219  5835_4                     bool
 220  5835_9                     bool
 221  5848_12                    bool
 222  5848_13                    bool
 223  5848_19                    bool
 224  5848_4                     bool
 225  5848_9                     bool
 226  5851_18                    bool
 227  5851_2                     bool
 228  5853_10                    bool
 229  5862_0                     bool
 230  5862_16                    bool
 231  5862_2                     bool
 232  5862_3                     bool
 233  5862_4                     bool
 234  6773_16                    bool
 235  6780_3                     bool
 236  6802_31                    bool
 237  7321_4                     bool
 238  7323_4                     bool
 239  7854_2                     bool
 240  7854_3                     bool
 241  7854_4                     bool
 242  1569_31                    bool
dtypes: bool(215), datetime64[ns](2), float64(4), int64(7), object(15)
memory usage: 212.4+ MB

In [25]:
print(list(merged_df.columns))

['RecordID', 'EventTimeStamp', 'spn', 'fmi', 'active', 'activeTransitionCount', 'EquipmentID', 'Latitude', 'Longitude', 'LocationTimeStamp', 'time_of_day', 'BarometricPressure', 'CruiseControlActive', 'CruiseControlSetSpeed', 'DistanceLtd', 'EngineCoolantTemperature', 'EngineLoad', 'EngineOilPressure', 'EngineOilTemperature', 'EngineRpm', 'EngineTimeLtd', 'FuelLtd', 'FuelRate', 'IgnStatus', 'IntakeManifoldTemperature', 'LampStatus', 'Speed', 'TurboBoostPressure', 'geometry', 'distance', 'spn_combined', '1761_1', '1761_10', '1761_11', '1761_17', '1761_18', '1761_19', '1761_3', '1761_4', '1761_9', '3031_18', '3031_2', '3031_3', '3031_4', '3031_9', '3216_10', '3216_11', '3216_16', '3216_2', '3216_20', '3216_21', '3216_3', '3216_4', '3216_9', '3217_2', '3218_2', '3222_5', '3226_10', '3226_11', '3226_16', '3226_2', '3226_20', '3226_21', '3226_4', '3226_9', '3227_10', '3227_21', '3228_2', '3242_0', '3242_15', '3242_16', '3242_3', '3242_4', '3246_0', '3246_15', '3246_16', '3246_2', '3246_3', '3246_4', '3251_0', '3251_10', '3251_15', '3251_16', '3251_2', '3251_3', '3251_4', '3360_11', '3360_12', '3360_19', '3360_2', '3360_9', '3361_12', '3361_2', '3361_3', '3361_4', '3361_5', '3362_31', '3362_7', '3363_16', '3363_3', '3363_4', '3363_5', '3363_7', '3364_10', '3364_11', '3364_18', '3364_3', '3364_9', '3480_17', '3480_2', '3480_3', '3480_4', '3482_2', '3482_3', '3482_7', '3490_3', '3490_4', '3490_7', '3515_10', '3521_18', '3556_18', '3556_2', '3556_5', '3610_2', '3610_3', '3610_4', '3703_31', '3720_15', '3936_14', '3936_15', '3936_16', '3936_7', '4094_18', '4094_31', '4096_31', '4331_16', '4331_18', '4334_16', '4334_18', '4334_2', '4334_3', '4334_4', '4339_7', '4340_3', '4340_4', '4340_5', '4342_3', '4342_4', '4342_5', '4344_3', '4344_4', '4344_5', '4346_5', '4360_0', '4360_10', '4360_16', '4360_3', '4360_4', '4363_0', '4363_10', '4363_16', '4363_2', '4363_3', '4363_4', '4364_18', '4364_31', '4375_2', '4375_4', '4376_3', '4376_4', '4376_5', '4376_7', '4765_16', '4765_2', '4765_3', '4765_4', '4766_15', '4766_3', '4792_14', '4794_31', '4795_31', '4796_31', '5024_10', '5031_10', '520953_4', '521032_14', '5246_0', '5246_16', '5298_17', '5298_18', '5319_31', '5392_31', '5394_3', '5394_4', '5394_5', '5394_7', '5397_31', '5491_3', '5491_4', '5491_5', '5491_7', '5569_2', '5742_11', '5742_12', '5742_16', '5742_3', '5742_4', '5742_9', '5743_11', '5743_12', '5743_3', '5743_4', '5743_9', '5745_18', '5745_3', '5745_4', '5746_4', '5835_21', '5835_3', '5835_4', '5835_9', '5848_12', '5848_13', '5848_19', '5848_4', '5848_9', '5851_18', '5851_2', '5853_10', '5862_0', '5862_16', '5862_2', '5862_3', '5862_4', '6773_16', '6780_3', '6802_31', '7321_4', '7323_4', '7854_2', '7854_3', '7854_4', '1569_31']

In [26]:
merged_df.to_csv('../data/big_g_pipeline_ready.csv')

faults are likely happening because there are multiple datetime columns. (true, corrected)

Also, strings might be a problem. (need to 

Take the dataset in the log reg

Use the rolling counts of the spn.fmis

group by equipmentId
get a dataframe

In [27]:
merged_df=merged_df.drop('LocationTimeStamp', axis=1)

In [28]:
features = ['1761_1', '1761_10', '1761_11', '1761_17', '1761_18', '1761_19', '1761_3', '1761_4', '1761_9', '3031_18', '3031_2', '3031_3', 
            '3031_4', '3031_9', '3216_10', '3216_11', '3216_16', '3216_2', '3216_20', '3216_21', '3216_3', '3216_4', '3216_9', '3217_2', 
            '3218_2', '3222_5', '3226_10', '3226_11', '3226_16', '3226_2', '3226_20', '3226_21', '3226_4', '3226_9', '3227_10', '3227_21', 
            '3228_2', '3242_0', '3242_15', '3242_16', '3242_3', '3242_4', '3246_0', '3246_15', '3246_16', '3246_2', '3246_3', '3246_4', 
            '3251_0', '3251_10', '3251_15', '3251_16', '3251_2', '3251_3', '3251_4', '3360_11', '3360_12', '3360_19', '3360_2', '3360_9', 
            '3361_12', '3361_2', '3361_3', '3361_4', '3361_5', '3362_31', '3362_7', '3363_16', '3363_3', '3363_4', '3363_5', '3363_7', 
            '3364_10', '3364_11', '3364_18', '3364_3', '3364_9', '3480_17', '3480_2', '3480_3', '3480_4', '3482_2', '3482_3', '3482_7', 
            '3490_3', '3490_4', '3490_7', '3515_10', '3521_18', '3556_18', '3556_2', '3556_5', '3610_2', '3610_3', '3610_4', '3703_31', 
            '3720_15', '3936_14', '3936_15', '3936_16', '3936_7', '4094_18', '4094_31', '4096_31', '4331_16', '4331_18', '4334_16', 
            '4334_18', '4334_2', '4334_3', '4334_4', '4339_7', '4340_3', '4340_4', '4340_5', '4342_3', '4342_4', '4342_5', '4344_3', '4344_4',
            '4344_5', '4346_5', '4360_0', '4360_10', '4360_16', '4360_3', '4360_4', '4363_0', '4363_10', '4363_16', '4363_2', '4363_3', '4363_4',
            '4364_18', '4364_31', '4375_2', '4375_4', '4376_3', '4376_4', '4376_5', '4376_7', '4765_16', '4765_2', '4765_3', '4765_4', '4766_15',
            '4766_3', '4792_14', '4794_31', '4795_31', '4796_31', '5024_10', '5031_10', '520953_4', '521032_14', '5246_16', '5298_17',
            '5298_18', '5319_31', '5392_31', '5394_3', '5394_4', '5394_5', '5394_7', '5397_31', '5491_3', '5491_4', '5491_5', '5491_7', '5569_2',
            '5742_11', '5742_12', '5742_16', '5742_3', '5742_4', '5742_9', '5743_11', '5743_12', '5743_3', '5743_4', '5743_9', '5745_18', '5745_3',
            '5745_4', '5746_4', '5835_21', '5835_3', '5835_4', '5835_9', '5848_12', '5848_13', '5848_19', '5848_4', '5848_9', '5851_18', '5851_2',
            '5853_10', '5862_0', '5862_16', '5862_2', '5862_3', '5862_4', '6773_16', '6780_3', '6802_31', '7321_4', '7323_4', '7854_2', '7854_3',
            '7854_4']

In [29]:
merged_t=merged_df[['EventTimeStamp', 'EquipmentID', '1761_1', '1761_10', '1761_11', '1761_17', '1761_18', '1761_19', '1761_3', '1761_4', '1761_9', '3031_18', '3031_2', '3031_3', 
            '3031_4', '3031_9', '3216_10', '3216_11', '3216_16', '3216_2', '3216_20', '3216_21', '3216_3', '3216_4', '3216_9', '3217_2', 
            '3218_2', '3222_5', '3226_10', '3226_11', '3226_16', '3226_2', '3226_20', '3226_21', '3226_4', '3226_9', '3227_10', '3227_21', 
            '3228_2', '3242_0', '3242_15', '3242_16', '3242_3', '3242_4', '3246_0', '3246_15', '3246_16', '3246_2', '3246_3', '3246_4', 
            '3251_0', '3251_10', '3251_15', '3251_16', '3251_2', '3251_3', '3251_4', '3360_11', '3360_12', '3360_19', '3360_2', '3360_9', 
            '3361_12', '3361_2', '3361_3', '3361_4', '3361_5', '3362_31', '3362_7', '3363_16', '3363_3', '3363_4', '3363_5', '3363_7', 
            '3364_10', '3364_11', '3364_18', '3364_3', '3364_9', '3480_17', '3480_2', '3480_3', '3480_4', '3482_2', '3482_3', '3482_7', 
            '3490_3', '3490_4', '3490_7', '3515_10', '3521_18', '3556_18', '3556_2', '3556_5', '3610_2', '3610_3', '3610_4', '3703_31', 
            '3720_15', '3936_14', '3936_15', '3936_16', '3936_7', '4094_18', '4094_31', '4096_31', '4331_16', '4331_18', '4334_16', 
            '4334_18', '4334_2', '4334_3', '4334_4', '4339_7', '4340_3', '4340_4', '4340_5', '4342_3', '4342_4', '4342_5', '4344_3', '4344_4',
            '4344_5', '4346_5', '4360_0', '4360_10', '4360_16', '4360_3', '4360_4', '4363_0', '4363_10', '4363_16', '4363_2', '4363_3', '4363_4',
            '4364_18', '4364_31', '4375_2', '4375_4', '4376_3', '4376_4', '4376_5', '4376_7', '4765_16', '4765_2', '4765_3', '4765_4', '4766_15',
            '4766_3', '4792_14', '4794_31', '4795_31', '4796_31', '5024_10', '5031_10', '520953_4', '521032_14', '5246_16', '5298_17',
            '5298_18', '5319_31', '5392_31', '5394_3', '5394_4', '5394_5', '5394_7', '5397_31', '5491_3', '5491_4', '5491_5', '5491_7', '5569_2',
            '5742_11', '5742_12', '5742_16', '5742_3', '5742_4', '5742_9', '5743_11', '5743_12', '5743_3', '5743_4', '5743_9', '5745_18', '5745_3',
            '5745_4', '5746_4', '5835_21', '5835_3', '5835_4', '5835_9', '5848_12', '5848_13', '5848_19', '5848_4', '5848_9', '5851_18', '5851_2',
            '5853_10', '5862_0', '5862_16', '5862_2', '5862_3', '5862_4', '6773_16', '6780_3', '6802_31', '7321_4', '7323_4', '7854_2', '7854_3',
            '7854_4']]

In [30]:
merged_t.head()

,EventTimeStamp,EquipmentID,1761_1,1761_10,1761_11,1761_17,1761_18,1761_19,1761_3,1761_4,...,5862_3,5862_4,6773_16,6780_3,6802_31,7321_4,7323_4,7854_2,7854_3,7854_4
0,2015-02-21 10:47:13,1439,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2015-02-21 11:40:22,1417,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2015-02-21 11:40:52,1597,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2015-02-21 11:42:19,1582,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2015-02-21 11:14:38,309,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [31]:
merged_t = merged_t.sort_values(by='EventTimeStamp', ascending=False).groupby('EquipmentID')

In [32]:
merged_t=merged_t.rolling('5D', on='EventTimeStamp').sum()

In [33]:
merged_t['5862_3'].sort_values().tail(40)

EquipmentID
1619         283098    1.0
             283087    1.0
             282946    1.0
             282929    1.0
             282912    1.0
             282860    1.0
             282854    1.0
             282832    1.0
1719         190956    1.0
             190957    1.0
             192220    1.0
             192654    1.0
             192914    1.0
             193031    1.0
             193157    1.0
             193160    1.0
1619         283139    1.0
             283150    1.0
             283168    1.0
             283242    1.0
             283458    1.0
             283440    1.0
             283407    1.0
             283470    1.0
1827         136660    1.0
             136659    1.0
1719         193156    1.0
1619         283360    1.0
             283353    1.0
             283333    1.0
             283323    1.0
             283291    1.0
             283365    1.0
1723         436249    2.0
             436115    2.0
             436094    2.0
             436093    2.0
             436092    2.0
             436091    2.0
             436188    2.0
Name: 5862_3, dtype: float64

In [34]:
merged_t.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 507342 entries, (301, 505760) to (108077146, 384172)
Data columns (total 211 columns):
 #    Column          Dtype
---   ------          -----
 0    EventTimeStamp  datetime64[ns]
 1    1761_1          float64
 2    1761_10         float64
 3    1761_11         float64
 4    1761_17         float64
 5    1761_18         float64
 6    1761_19         float64
 7    1761_3          float64
 8    1761_4          float64
 9    1761_9          float64
 10   3031_18         float64
 11   3031_2          float64
 12   3031_3          float64
 13   3031_4          float64
 14   3031_9          float64
 15   3216_10         float64
 16   3216_11         float64
 17   3216_16         float64
 18   3216_2          float64
 19   3216_20         float64
 20   3216_21         float64
 21   3216_3          float64
 22   3216_4          float64
 23   3216_9          float64
 24   3217_2          float64
 25   3218_2          float64
 26   3222_5          float64
 27   3226_10         float64
 28   3226_11         float64
 29   3226_16         float64
 30   3226_2          float64
 31   3226_20         float64
 32   3226_21         float64
 33   3226_4          float64
 34   3226_9          float64
 35   3227_10         float64
 36   3227_21         float64
 37   3228_2          float64
 38   3242_0          float64
 39   3242_15         float64
 40   3242_16         float64
 41   3242_3          float64
 42   3242_4          float64
 43   3246_0          float64
 44   3246_15         float64
 45   3246_16         float64
 46   3246_2          float64
 47   3246_3          float64
 48   3246_4          float64
 49   3251_0          float64
 50   3251_10         float64
 51   3251_15         float64
 52   3251_16         float64
 53   3251_2          float64
 54   3251_3          float64
 55   3251_4          float64
 56   3360_11         float64
 57   3360_12         float64
 58   3360_19         float64
 59   3360_2          float64
 60   3360_9          float64
 61   3361_12         float64
 62   3361_2          float64
 63   3361_3          float64
 64   3361_4          float64
 65   3361_5          float64
 66   3362_31         float64
 67   3362_7          float64
 68   3363_16         float64
 69   3363_3          float64
 70   3363_4          float64
 71   3363_5          float64
 72   3363_7          float64
 73   3364_10         float64
 74   3364_11         float64
 75   3364_18         float64
 76   3364_3          float64
 77   3364_9          float64
 78   3480_17         float64
 79   3480_2          float64
 80   3480_3          float64
 81   3480_4          float64
 82   3482_2          float64
 83   3482_3          float64
 84   3482_7          float64
 85   3490_3          float64
 86   3490_4          float64
 87   3490_7          float64
 88   3515_10         float64
 89   3521_18         float64
 90   3556_18         float64
 91   3556_2          float64
 92   3556_5          float64
 93   3610_2          float64
 94   3610_3          float64
 95   3610_4          float64
 96   3703_31         float64
 97   3720_15         float64
 98   3936_14         float64
 99   3936_15         float64
 100  3936_16         float64
 101  3936_7          float64
 102  4094_18         float64
 103  4094_31         float64
 104  4096_31         float64
 105  4331_16         float64
 106  4331_18         float64
 107  4334_16         float64
 108  4334_18         float64
 109  4334_2          float64
 110  4334_3          float64
 111  4334_4          float64
 112  4339_7          float64
 113  4340_3          float64
 114  4340_4          float64
 115  4340_5          float64
 116  4342_3          float64
 117  4342_4          float64
 118  4342_5          float64
 119  4344_3          float64
 120  4344_4          float64
 121  4344_5          float64
 122  4346_5          float64
 123  4360_0          float64
 124  4360_10         float64
 125  4360_16         float64
 126  4360_3          float64
 127  4360_4          float64
 128  4363_0          float64
 129  4363_10         float64
 130  4363_16         float64
 131  4363_2          float64
 132  4363_3          float64
 133  4363_4          float64
 134  4364_18         float64
 135  4364_31         float64
 136  4375_2          float64
 137  4375_4          float64
 138  4376_3          float64
 139  4376_4          float64
 140  4376_5          float64
 141  4376_7          float64
 142  4765_16         float64
 143  4765_2          float64
 144  4765_3          float64
 145  4765_4          float64
 146  4766_15         float64
 147  4766_3          float64
 148  4792_14         float64
 149  4794_31         float64
 150  4795_31         float64
 151  4796_31         float64
 152  5024_10         float64
 153  5031_10         float64
 154  520953_4        float64
 155  521032_14       float64
 156  5246_16         float64
 157  5298_17         float64
 158  5298_18         float64
 159  5319_31         float64
 160  5392_31         float64
 161  5394_3          float64
 162  5394_4          float64
 163  5394_5          float64
 164  5394_7          float64
 165  5397_31         float64
 166  5491_3          float64
 167  5491_4          float64
 168  5491_5          float64
 169  5491_7          float64
 170  5569_2          float64
 171  5742_11         float64
 172  5742_12         float64
 173  5742_16         float64
 174  5742_3          float64
 175  5742_4          float64
 176  5742_9          float64
 177  5743_11         float64
 178  5743_12         float64
 179  5743_3          float64
 180  5743_4          float64
 181  5743_9          float64
 182  5745_18         float64
 183  5745_3          float64
 184  5745_4          float64
 185  5746_4          float64
 186  5835_21         float64
 187  5835_3          float64
 188  5835_4          float64
 189  5835_9          float64
 190  5848_12         float64
 191  5848_13         float64
 192  5848_19         float64
 193  5848_4          float64
 194  5848_9          float64
 195  5851_18         float64
 196  5851_2          float64
 197  5853_10         float64
 198  5862_0          float64
 199  5862_16         float64
 200  5862_2          float64
 201  5862_3          float64
 202  5862_4          float64
 203  6773_16         float64
 204  6780_3          float64
 205  6802_31         float64
 206  7321_4          float64
 207  7323_4          float64
 208  7854_2          float64
 209  7854_3          float64
 210  7854_4          float64
dtypes: datetime64[ns](1), float64(210)
memory usage: 839.6 MB

In [35]:
merged_t.head(10)

                        EventTimeStamp  1761_1  1761_10  1761_11  1761_17  \
EquipmentID
301         505760 2020-02-20 12:09:01     0.0      0.0      0.0      0.0
            504526 2020-02-10 13:35:03     0.0      0.0      0.0      0.0
            504490 2020-02-10 10:44:36     0.0      0.0      0.0      0.0
            504158 2020-02-07 05:02:13     0.0      0.0      0.0      0.0
            504120 2020-02-06 17:52:29     0.0      0.0      0.0      0.0
            502836 2020-01-26 16:48:45     0.0      0.0      0.0      0.0
            502831 2020-01-26 15:39:12     0.0      0.0      0.0      0.0
            502823 2020-01-26 14:33:45     0.0      0.0      0.0      0.0
            502819 2020-01-26 13:48:46     0.0      0.0      0.0      0.0
            501665 2020-01-17 05:38:33     0.0      0.0      0.0      0.0

                    1761_18  1761_19  1761_3  1761_4  1761_9  ...  5862_3  \
EquipmentID                                                   ...
301         505760      0.0      0.0     0.0     0.0     0.0  ...     0.0
            504526      0.0      0.0     0.0     0.0     0.0  ...     0.0
            504490      0.0      0.0     0.0     0.0     0.0  ...     0.0
            504158      0.0      0.0     0.0     0.0     0.0  ...     0.0
            504120      0.0      0.0     0.0     0.0     0.0  ...     0.0
            502836      0.0      0.0     0.0     0.0     0.0  ...     0.0
            502831      0.0      0.0     0.0     0.0     0.0  ...     0.0
            502823      0.0      0.0     0.0     0.0     0.0  ...     0.0
            502819      0.0      0.0     0.0     0.0     0.0  ...     0.0
            501665      0.0      0.0     0.0     0.0     0.0  ...     0.0

                    5862_4  6773_16  6780_3  6802_31  7321_4  7323_4  7854_2  \
EquipmentID
301         505760     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            504526     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            504490     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            504158     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            504120     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            502836     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            502831     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            502823     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            502819     0.0      0.0     0.0      0.0     0.0     0.0     0.0
            501665     0.0      0.0     0.0      0.0     0.0     0.0     0.0

                    7854_3  7854_4
EquipmentID
301         505760     0.0     0.0
            504526     0.0     0.0
            504490     0.0     0.0
            504158     0.0     0.0
            504120     0.0     0.0
            502836     0.0     0.0
            502831     0.0     0.0
            502823     0.0     0.0
            502819     0.0     0.0
            501665     0.0     0.0

[10 rows x 211 columns]

In [36]:
merged_t=merged_t.reset_index().set_index('level_1')

In [37]:
merged_final=pd.merge(merged_df, merged_t, how='inner', left_index=True, right_index=True)

In [38]:
merged_final[['EventTimeStamp_x', 'EventTimeStamp_y']]

          EventTimeStamp_x    EventTimeStamp_y
0      2015-02-21 10:47:13 2015-02-21 10:47:13
1      2015-02-21 11:40:22 2015-02-21 11:40:22
2      2015-02-21 11:40:52 2015-02-21 11:40:52
3      2015-02-21 11:42:19 2015-02-21 11:42:19
4      2015-02-21 11:14:38 2015-02-21 11:14:38
...                    ...                 ...
507337 2020-03-06 13:12:43 2020-03-06 13:12:43
507338 2020-03-06 13:42:48 2020-03-06 13:42:48
507339 2020-03-06 14:04:23 2020-03-06 14:04:23
507340 2020-03-06 14:13:38 2020-03-06 14:13:38
507341 2020-03-06 14:14:13 2020-03-06 14:14:13

[507342 rows x 2 columns]

In [39]:
print(list(merged_final.columns))

['RecordID', 'EventTimeStamp_x', 'spn', 'fmi', 'active', 'activeTransitionCount', 'EquipmentID_x', 'Latitude', 'Longitude', 'time_of_day', 'BarometricPressure', 'CruiseControlActive', 'CruiseControlSetSpeed', 'DistanceLtd', 'EngineCoolantTemperature', 'EngineLoad', 'EngineOilPressure', 'EngineOilTemperature', 'EngineRpm', 'EngineTimeLtd', 'FuelLtd', 'FuelRate', 'IgnStatus', 'IntakeManifoldTemperature', 'LampStatus', 'Speed', 'TurboBoostPressure', 'geometry', 'distance', 'spn_combined', '1761_1_x', '1761_10_x', '1761_11_x', '1761_17_x', '1761_18_x', '1761_19_x', '1761_3_x', '1761_4_x', '1761_9_x', '3031_18_x', '3031_2_x', '3031_3_x', '3031_4_x', '3031_9_x', '3216_10_x', '3216_11_x', '3216_16_x', '3216_2_x', '3216_20_x', '3216_21_x', '3216_3_x', '3216_4_x', '3216_9_x', '3217_2_x', '3218_2_x', '3222_5_x', '3226_10_x', '3226_11_x', '3226_16_x', '3226_2_x', '3226_20_x', '3226_21_x', '3226_4_x', '3226_9_x', '3227_10_x', '3227_21_x', '3228_2_x', '3242_0_x', '3242_15_x', '3242_16_x', '3242_3_x', '3242_4_x', '3246_0_x', '3246_15_x', '3246_16_x', '3246_2_x', '3246_3_x', '3246_4_x', '3251_0_x', '3251_10_x', '3251_15_x', '3251_16_x', '3251_2_x', '3251_3_x', '3251_4_x', '3360_11_x', '3360_12_x', '3360_19_x', '3360_2_x', '3360_9_x', '3361_12_x', '3361_2_x', '3361_3_x', '3361_4_x', '3361_5_x', '3362_31_x', '3362_7_x', '3363_16_x', '3363_3_x', '3363_4_x', '3363_5_x', '3363_7_x', '3364_10_x', '3364_11_x', '3364_18_x', '3364_3_x', '3364_9_x', '3480_17_x', '3480_2_x', '3480_3_x', '3480_4_x', '3482_2_x', '3482_3_x', '3482_7_x', '3490_3_x', '3490_4_x', '3490_7_x', '3515_10_x', '3521_18_x', '3556_18_x', '3556_2_x', '3556_5_x', '3610_2_x', '3610_3_x', '3610_4_x', '3703_31_x', '3720_15_x', '3936_14_x', '3936_15_x', '3936_16_x', '3936_7_x', '4094_18_x', '4094_31_x', '4096_31_x', '4331_16_x', '4331_18_x', '4334_16_x', '4334_18_x', '4334_2_x', '4334_3_x', '4334_4_x', '4339_7_x', '4340_3_x', '4340_4_x', '4340_5_x', '4342_3_x', '4342_4_x', '4342_5_x', '4344_3_x', '4344_4_x', '4344_5_x', '4346_5_x', '4360_0_x', '4360_10_x', '4360_16_x', '4360_3_x', '4360_4_x', '4363_0_x', '4363_10_x', '4363_16_x', '4363_2_x', '4363_3_x', '4363_4_x', '4364_18_x', '4364_31_x', '4375_2_x', '4375_4_x', '4376_3_x', '4376_4_x', '4376_5_x', '4376_7_x', '4765_16_x', '4765_2_x', '4765_3_x', '4765_4_x', '4766_15_x', '4766_3_x', '4792_14_x', '4794_31_x', '4795_31_x', '4796_31_x', '5024_10_x', '5031_10_x', '520953_4_x', '521032_14_x', '5246_0', '5246_16_x', '5298_17_x', '5298_18_x', '5319_31_x', '5392_31_x', '5394_3_x', '5394_4_x', '5394_5_x', '5394_7_x', '5397_31_x', '5491_3_x', '5491_4_x', '5491_5_x', '5491_7_x', '5569_2_x', '5742_11_x', '5742_12_x', '5742_16_x', '5742_3_x', '5742_4_x', '5742_9_x', '5743_11_x', '5743_12_x', '5743_3_x', '5743_4_x', '5743_9_x', '5745_18_x', '5745_3_x', '5745_4_x', '5746_4_x', '5835_21_x', '5835_3_x', '5835_4_x', '5835_9_x', '5848_12_x', '5848_13_x', '5848_19_x', '5848_4_x', '5848_9_x', '5851_18_x', '5851_2_x', '5853_10_x', '5862_0_x', '5862_16_x', '5862_2_x', '5862_3_x', '5862_4_x', '6773_16_x', '6780_3_x', '6802_31_x', '7321_4_x', '7323_4_x', '7854_2_x', '7854_3_x', '7854_4_x', '1569_31', 'EquipmentID_y', 'EventTimeStamp_y', '1761_1_y', '1761_10_y', '1761_11_y', '1761_17_y', '1761_18_y', '1761_19_y', '1761_3_y', '1761_4_y', '1761_9_y', '3031_18_y', '3031_2_y', '3031_3_y', '3031_4_y', '3031_9_y', '3216_10_y', '3216_11_y', '3216_16_y', '3216_2_y', '3216_20_y', '3216_21_y', '3216_3_y', '3216_4_y', '3216_9_y', '3217_2_y', '3218_2_y', '3222_5_y', '3226_10_y', '3226_11_y', '3226_16_y', '3226_2_y', '3226_20_y', '3226_21_y', '3226_4_y', '3226_9_y', '3227_10_y', '3227_21_y', '3228_2_y', '3242_0_y', '3242_15_y', '3242_16_y', '3242_3_y', '3242_4_y', '3246_0_y', '3246_15_y', '3246_16_y', '3246_2_y', '3246_3_y', '3246_4_y', '3251_0_y', '3251_10_y', '3251_15_y', '3251_16_y', '3251_2_y', '3251_3_y', '3251_4_y', '3360_11_y', '3360_12_y', '3360_19_y', '3360_2_y', '3360_9_y', '3361_12_y', '3361_2_y', '3361_3_y', '3361_4_y', '3361_5_y', '3362_31_y', '3362_7_y', '3363_16_y', '3363_3_y', '3363_4_y', '3363_5_y', '3363_7_y', '3364_10_y', '3364_11_y', '3364_18_y', '3364_3_y', '3364_9_y', '3480_17_y', '3480_2_y', '3480_3_y', '3480_4_y', '3482_2_y', '3482_3_y', '3482_7_y', '3490_3_y', '3490_4_y', '3490_7_y', '3515_10_y', '3521_18_y', '3556_18_y', '3556_2_y', '3556_5_y', '3610_2_y', '3610_3_y', '3610_4_y', '3703_31_y', '3720_15_y', '3936_14_y', '3936_15_y', '3936_16_y', '3936_7_y', '4094_18_y', '4094_31_y', '4096_31_y', '4331_16_y', '4331_18_y', '4334_16_y', '4334_18_y', '4334_2_y', '4334_3_y', '4334_4_y', '4339_7_y', '4340_3_y', '4340_4_y', '4340_5_y', '4342_3_y', '4342_4_y', '4342_5_y', '4344_3_y', '4344_4_y', '4344_5_y', '4346_5_y', '4360_0_y', '4360_10_y', '4360_16_y', '4360_3_y', '4360_4_y', '4363_0_y', '4363_10_y', '4363_16_y', '4363_2_y', '4363_3_y', '4363_4_y', '4364_18_y', '4364_31_y', '4375_2_y', '4375_4_y', '4376_3_y', '4376_4_y', '4376_5_y', '4376_7_y', '4765_16_y', '4765_2_y', '4765_3_y', '4765_4_y', '4766_15_y', '4766_3_y', '4792_14_y', '4794_31_y', '4795_31_y', '4796_31_y', '5024_10_y', '5031_10_y', '520953_4_y', '521032_14_y', '5246_16_y', '5298_17_y', '5298_18_y', '5319_31_y', '5392_31_y', '5394_3_y', '5394_4_y', '5394_5_y', '5394_7_y', '5397_31_y', '5491_3_y', '5491_4_y', '5491_5_y', '5491_7_y', '5569_2_y', '5742_11_y', '5742_12_y', '5742_16_y', '5742_3_y', '5742_4_y', '5742_9_y', '5743_11_y', '5743_12_y', '5743_3_y', '5743_4_y', '5743_9_y', '5745_18_y', '5745_3_y', '5745_4_y', '5746_4_y', '5835_21_y', '5835_3_y', '5835_4_y', '5835_9_y', '5848_12_y', '5848_13_y', '5848_19_y', '5848_4_y', '5848_9_y', '5851_18_y', '5851_2_y', '5853_10_y', '5862_0_y', '5862_16_y', '5862_2_y', '5862_3_y', '5862_4_y', '6773_16_y', '6780_3_y', '6802_31_y', '7321_4_y', '7323_4_y', '7854_2_y', '7854_3_y', '7854_4_y']

In [40]:
merged_final.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507342 entries, 0 to 507341
Data columns (total 454 columns):
 #    Column                     Dtype
---   ------                     -----
 0    RecordID                   int64
 1    EventTimeStamp_x           datetime64[ns]
 2    spn                        int64
 3    fmi                        int64
 4    active                     bool
 5    activeTransitionCount      int64
 6    EquipmentID_x              int64
 7    Latitude                   float64
 8    Longitude                  float64
 9    time_of_day                object
 10   BarometricPressure         object
 11   CruiseControlActive        bool
 12   CruiseControlSetSpeed      float64
 13   DistanceLtd                object
 14   EngineCoolantTemperature   object
 15   EngineLoad                 int64
 16   EngineOilPressure          object
 17   EngineOilTemperature       object
 18   EngineRpm                  object
 19   EngineTimeLtd              object
 20   FuelLtd                    object
 21   FuelRate                   object
 22   IgnStatus                  bool
 23   IntakeManifoldTemperature  object
 24   LampStatus                 int64
 25   Speed                      object
 26   TurboBoostPressure         object
 27   geometry                   object
 28   distance                   float64
 29   spn_combined               object
 30   1761_1_x                   bool
 31   1761_10_x                  bool
 32   1761_11_x                  bool
 33   1761_17_x                  bool
 34   1761_18_x                  bool
 35   1761_19_x                  bool
 36   1761_3_x                   bool
 37   1761_4_x                   bool
 38   1761_9_x                   bool
 39   3031_18_x                  bool
 40   3031_2_x                   bool
 41   3031_3_x                   bool
 42   3031_4_x                   bool
 43   3031_9_x                   bool
 44   3216_10_x                  bool
 45   3216_11_x                  bool
 46   3216_16_x                  bool
 47   3216_2_x                   bool
 48   3216_20_x                  bool
 49   3216_21_x                  bool
 50   3216_3_x                   bool
 51   3216_4_x                   bool
 52   3216_9_x                   bool
 53   3217_2_x                   bool
 54   3218_2_x                   bool
 55   3222_5_x                   bool
 56   3226_10_x                  bool
 57   3226_11_x                  bool
 58   3226_16_x                  bool
 59   3226_2_x                   bool
 60   3226_20_x                  bool
 61   3226_21_x                  bool
 62   3226_4_x                   bool
 63   3226_9_x                   bool
 64   3227_10_x                  bool
 65   3227_21_x                  bool
 66   3228_2_x                   bool
 67   3242_0_x                   bool
 68   3242_15_x                  bool
 69   3242_16_x                  bool
 70   3242_3_x                   bool
 71   3242_4_x                   bool
 72   3246_0_x                   bool
 73   3246_15_x                  bool
 74   3246_16_x                  bool
 75   3246_2_x                   bool
 76   3246_3_x                   bool
 77   3246_4_x                   bool
 78   3251_0_x                   bool
 79   3251_10_x                  bool
 80   3251_15_x                  bool
 81   3251_16_x                  bool
 82   3251_2_x                   bool
 83   3251_3_x                   bool
 84   3251_4_x                   bool
 85   3360_11_x                  bool
 86   3360_12_x                  bool
 87   3360_19_x                  bool
 88   3360_2_x                   bool
 89   3360_9_x                   bool
 90   3361_12_x                  bool
 91   3361_2_x                   bool
 92   3361_3_x                   bool
 93   3361_4_x                   bool
 94   3361_5_x                   bool
 95   3362_31_x                  bool
 96   3362_7_x                   bool
 97   3363_16_x                  bool
 98   3363_3_x                   bool
 99   3363_4_x                   bool
 100  3363_5_x                   bool
 101  3363_7_x                   bool
 102  3364_10_x                  bool
 103  3364_11_x                  bool
 104  3364_18_x                  bool
 105  3364_3_x                   bool
 106  3364_9_x                   bool
 107  3480_17_x                  bool
 108  3480_2_x                   bool
 109  3480_3_x                   bool
 110  3480_4_x                   bool
 111  3482_2_x                   bool
 112  3482_3_x                   bool
 113  3482_7_x                   bool
 114  3490_3_x                   bool
 115  3490_4_x                   bool
 116  3490_7_x                   bool
 117  3515_10_x                  bool
 118  3521_18_x                  bool
 119  3556_18_x                  bool
 120  3556_2_x                   bool
 121  3556_5_x                   bool
 122  3610_2_x                   bool
 123  3610_3_x                   bool
 124  3610_4_x                   bool
 125  3703_31_x                  bool
 126  3720_15_x                  bool
 127  3936_14_x                  bool
 128  3936_15_x                  bool
 129  3936_16_x                  bool
 130  3936_7_x                   bool
 131  4094_18_x                  bool
 132  4094_31_x                  bool
 133  4096_31_x                  bool
 134  4331_16_x                  bool
 135  4331_18_x                  bool
 136  4334_16_x                  bool
 137  4334_18_x                  bool
 138  4334_2_x                   bool
 139  4334_3_x                   bool
 140  4334_4_x                   bool
 141  4339_7_x                   bool
 142  4340_3_x                   bool
 143  4340_4_x                   bool
 144  4340_5_x                   bool
 145  4342_3_x                   bool
 146  4342_4_x                   bool
 147  4342_5_x                   bool
 148  4344_3_x                   bool
 149  4344_4_x                   bool
 150  4344_5_x                   bool
 151  4346_5_x                   bool
 152  4360_0_x                   bool
 153  4360_10_x                  bool
 154  4360_16_x                  bool
 155  4360_3_x                   bool
 156  4360_4_x                   bool
 157  4363_0_x                   bool
 158  4363_10_x                  bool
 159  4363_16_x                  bool
 160  4363_2_x                   bool
 161  4363_3_x                   bool
 162  4363_4_x                   bool
 163  4364_18_x                  bool
 164  4364_31_x                  bool
 165  4375_2_x                   bool
 166  4375_4_x                   bool
 167  4376_3_x                   bool
 168  4376_4_x                   bool
 169  4376_5_x                   bool
 170  4376_7_x                   bool
 171  4765_16_x                  bool
 172  4765_2_x                   bool
 173  4765_3_x                   bool
 174  4765_4_x                   bool
 175  4766_15_x                  bool
 176  4766_3_x                   bool
 177  4792_14_x                  bool
 178  4794_31_x                  bool
 179  4795_31_x                  bool
 180  4796_31_x                  bool
 181  5024_10_x                  bool
 182  5031_10_x                  bool
 183  520953_4_x                 bool
 184  521032_14_x                bool
 185  5246_0                     bool
 186  5246_16_x                  bool
 187  5298_17_x                  bool
 188  5298_18_x                  bool
 189  5319_31_x                  bool
 190  5392_31_x                  bool
 191  5394_3_x                   bool
 192  5394_4_x                   bool
 193  5394_5_x                   bool
 194  5394_7_x                   bool
 195  5397_31_x                  bool
 196  5491_3_x                   bool
 197  5491_4_x                   bool
 198  5491_5_x                   bool
 199  5491_7_x                   bool
 200  5569_2_x                   bool
 201  5742_11_x                  bool
 202  5742_12_x                  bool
 203  5742_16_x                  bool
 204  5742_3_x                   bool
 205  5742_4_x                   bool
 206  5742_9_x                   bool
 207  5743_11_x                  bool
 208  5743_12_x                  bool
 209  5743_3_x                   bool
 210  5743_4_x                   bool
 211  5743_9_x                   bool
 212  5745_18_x                  bool
 213  5745_3_x                   bool
 214  5745_4_x                   bool
 215  5746_4_x                   bool
 216  5835_21_x                  bool
 217  5835_3_x                   bool
 218  5835_4_x                   bool
 219  5835_9_x                   bool
 220  5848_12_x                  bool
 221  5848_13_x                  bool
 222  5848_19_x                  bool
 223  5848_4_x                   bool
 224  5848_9_x                   bool
 225  5851_18_x                  bool
 226  5851_2_x                   bool
 227  5853_10_x                  bool
 228  5862_0_x                   bool
 229  5862_16_x                  bool
 230  5862_2_x                   bool
 231  5862_3_x                   bool
 232  5862_4_x                   bool
 233  6773_16_x                  bool
 234  6780_3_x                   bool
 235  6802_31_x                  bool
 236  7321_4_x                   bool
 237  7323_4_x                   bool
 238  7854_2_x                   bool
 239  7854_3_x                   bool
 240  7854_4_x                   bool
 241  1569_31                    bool
 242  EquipmentID_y              int64
 243  EventTimeStamp_y           datetime64[ns]
 244  1761_1_y                   float64
 245  1761_10_y                  float64
 246  1761_11_y                  float64
 247  1761_17_y                  float64
 248  1761_18_y                  float64
 249  1761_19_y                  float64
 250  1761_3_y                   float64
 251  1761_4_y                   float64
 252  1761_9_y                   float64
 253  3031_18_y                  float64
 254  3031_2_y                   float64
 255  3031_3_y                   float64
 256  3031_4_y                   float64
 257  3031_9_y                   float64
 258  3216_10_y                  float64
 259  3216_11_y                  float64
 260  3216_16_y                  float64
 261  3216_2_y                   float64
 262  3216_20_y                  float64
 263  3216_21_y                  float64
 264  3216_3_y                   float64
 265  3216_4_y                   float64
 266  3216_9_y                   float64
 267  3217_2_y                   float64
 268  3218_2_y                   float64
 269  3222_5_y                   float64
 270  3226_10_y                  float64
 271  3226_11_y                  float64
 272  3226_16_y                  float64
 273  3226_2_y                   float64
 274  3226_20_y                  float64
 275  3226_21_y                  float64
 276  3226_4_y                   float64
 277  3226_9_y                   float64
 278  3227_10_y                  float64
 279  3227_21_y                  float64
 280  3228_2_y                   float64
 281  3242_0_y                   float64
 282  3242_15_y                  float64
 283  3242_16_y                  float64
 284  3242_3_y                   float64
 285  3242_4_y                   float64
 286  3246_0_y                   float64
 287  3246_15_y                  float64
 288  3246_16_y                  float64
 289  3246_2_y                   float64
 290  3246_3_y                   float64
 291  3246_4_y                   float64
 292  3251_0_y                   float64
 293  3251_10_y                  float64
 294  3251_15_y                  float64
 295  3251_16_y                  float64
 296  3251_2_y                   float64
 297  3251_3_y                   float64
 298  3251_4_y                   float64
 299  3360_11_y                  float64
 300  3360_12_y                  float64
 301  3360_19_y                  float64
 302  3360_2_y                   float64
 303  3360_9_y                   float64
 304  3361_12_y                  float64
 305  3361_2_y                   float64
 306  3361_3_y                   float64
 307  3361_4_y                   float64
 308  3361_5_y                   float64
 309  3362_31_y                  float64
 310  3362_7_y                   float64
 311  3363_16_y                  float64
 312  3363_3_y                   float64
 313  3363_4_y                   float64
 314  3363_5_y                   float64
 315  3363_7_y                   float64
 316  3364_10_y                  float64
 317  3364_11_y                  float64
 318  3364_18_y                  float64
 319  3364_3_y                   float64
 320  3364_9_y                   float64
 321  3480_17_y                  float64
 322  3480_2_y                   float64
 323  3480_3_y                   float64
 324  3480_4_y                   float64
 325  3482_2_y                   float64
 326  3482_3_y                   float64
 327  3482_7_y                   float64
 328  3490_3_y                   float64
 329  3490_4_y                   float64
 330  3490_7_y                   float64
 331  3515_10_y                  float64
 332  3521_18_y                  float64
 333  3556_18_y                  float64
 334  3556_2_y                   float64
 335  3556_5_y                   float64
 336  3610_2_y                   float64
 337  3610_3_y                   float64
 338  3610_4_y                   float64
 339  3703_31_y                  float64
 340  3720_15_y                  float64
 341  3936_14_y                  float64
 342  3936_15_y                  float64
 343  3936_16_y                  float64
 344  3936_7_y                   float64
 345  4094_18_y                  float64
 346  4094_31_y                  float64
 347  4096_31_y                  float64
 348  4331_16_y                  float64
 349  4331_18_y                  float64
 350  4334_16_y                  float64
 351  4334_18_y                  float64
 352  4334_2_y                   float64
 353  4334_3_y                   float64
 354  4334_4_y                   float64
 355  4339_7_y                   float64
 356  4340_3_y                   float64
 357  4340_4_y                   float64
 358  4340_5_y                   float64
 359  4342_3_y                   float64
 360  4342_4_y                   float64
 361  4342_5_y                   float64
 362  4344_3_y                   float64
 363  4344_4_y                   float64
 364  4344_5_y                   float64
 365  4346_5_y                   float64
 366  4360_0_y                   float64
 367  4360_10_y                  float64
 368  4360_16_y                  float64
 369  4360_3_y                   float64
 370  4360_4_y                   float64
 371  4363_0_y                   float64
 372  4363_10_y                  float64
 373  4363_16_y                  float64
 374  4363_2_y                   float64
 375  4363_3_y                   float64
 376  4363_4_y                   float64
 377  4364_18_y                  float64
 378  4364_31_y                  float64
 379  4375_2_y                   float64
 380  4375_4_y                   float64
 381  4376_3_y                   float64
 382  4376_4_y                   float64
 383  4376_5_y                   float64
 384  4376_7_y                   float64
 385  4765_16_y                  float64
 386  4765_2_y                   float64
 387  4765_3_y                   float64
 388  4765_4_y                   float64
 389  4766_15_y                  float64
 390  4766_3_y                   float64
 391  4792_14_y                  float64
 392  4794_31_y                  float64
 393  4795_31_y                  float64
 394  4796_31_y                  float64
 395  5024_10_y                  float64
 396  5031_10_y                  float64
 397  520953_4_y                 float64
 398  521032_14_y                float64
 399  5246_16_y                  float64
 400  5298_17_y                  float64
 401  5298_18_y                  float64
 402  5319_31_y                  float64
 403  5392_31_y                  float64
 404  5394_3_y                   float64
 405  5394_4_y                   float64
 406  5394_5_y                   float64
 407  5394_7_y                   float64
 408  5397_31_y                  float64
 409  5491_3_y                   float64
 410  5491_4_y                   float64
 411  5491_5_y                   float64
 412  5491_7_y                   float64
 413  5569_2_y                   float64
 414  5742_11_y                  float64
 415  5742_12_y                  float64
 416  5742_16_y                  float64
 417  5742_3_y                   float64
 418  5742_4_y                   float64
 419  5742_9_y                   float64
 420  5743_11_y                  float64
 421  5743_12_y                  float64
 422  5743_3_y                   float64
 423  5743_4_y                   float64
 424  5743_9_y                   float64
 425  5745_18_y                  float64
 426  5745_3_y                   float64
 427  5745_4_y                   float64
 428  5746_4_y                   float64
 429  5835_21_y                  float64
 430  5835_3_y                   float64
 431  5835_4_y                   float64
 432  5835_9_y                   float64
 433  5848_12_y                  float64
 434  5848_13_y                  float64
 435  5848_19_y                  float64
 436  5848_4_y                   float64
 437  5848_9_y                   float64
 438  5851_18_y                  float64
 439  5851_2_y                   float64
 440  5853_10_y                  float64
 441  5862_0_y                   float64
 442  5862_16_y                  float64
 443  5862_2_y                   float64
 444  5862_3_y                   float64
 445  5862_4_y                   float64
 446  6773_16_y                  float64
 447  6780_3_y                   float64
 448  6802_31_y                  float64
 449  7321_4_y                   float64
 450  7323_4_y                   float64
 451  7854_2_y                   float64
 452  7854_3_y                   float64
 453  7854_4_y                   float64
dtypes: bool(215), datetime64[ns](2), float64(214), int64(8), object(15)
memory usage: 1.0+ GB

In [41]:
#Columns (13,17,19,20,21,22,23,24,26,28,29) have mixed types

#'EngineCoolantTemperature', 
merged_final['EngineCoolantTemperature']=merged_final['EngineCoolantTemperature'].str.extract('(\d+)')
merged_final['EngineCoolantTemperature']=merged_final['EngineCoolantTemperature'].astype(int)

#'EngineTimeLtd'
merged_final['EngineTimeLtd']=merged_final['EngineTimeLtd'].str.extract('(\d+)')
merged_final['EngineTimeLtd']=merged_final['EngineTimeLtd'].astype(int)

#'EngineRpm'
merged_final['EngineRpm']=merged_final['EngineRpm'].str.extract('(\d+)')
merged_final['EngineRpm']=merged_final['EngineRpm'].astype(int)

In [42]:
#merged_final=merged_final.drop(['EquipmentID_y', 'EventTimeStamp_y', 'RecordID', 'spn', 'fmi', 'active', 'activeTransitionCount', 'EquipmentID_x', 'Latitude', 'Longitude', 'time_of_day', 'rolling_count_5246', 'rolling_count_1569', 'BarometricPressure', 'CruiseControlActive', 'CruiseControlSetSpeed', 'DistanceLtd', 'EngineCoolantTemperature', 'EngineLoad', 'EngineOilPressure', 'EngineOilTemperature', 'EngineRpm', 'EngineTimeLtd', 'FuelLtd', 'FuelRate', 'IgnStatus', 'IntakeManifoldTemperature', 'LampStatus', 'Speed', 'TurboBoostPressure', 'geometry', 'distance', 'spn_combined'], axis=1)

In [43]:
merged_final.to_csv('../data/big_g_pipeline_ready.csv')

In [44]:
# Read the saved dataframe
chosen_equipments_dummies = pd.read_csv('../data/big_g_pipeline_ready.csv', index_col= False)

# make the datetime column
chosen_equipments_dummies['EventTimeStamp_x'] = pd.to_datetime(chosen_equipments_dummies['EventTimeStamp_x'])

#sort by datetime
chosen_equipments_dummies.sort_values('EventTimeStamp_x', inplace=True)
#set index
chosen_equipments_dummies.set_index('EventTimeStamp_x', inplace=True)

# function to roll back days after a derate code appears and return the window dataframe
specific_spn = 5246
rollback_days = 7

def check_for_other_spns(group):
    window_data = pd.DataFrame()
    for fault_index in group[group['spn']== specific_spn].index:# when 5246 is encountered  the index is the fault_index
        start_index = fault_index - pd.Timedelta(days=rollback_days) # find the roll back time index
        window_data =pd.concat([window_data, group.loc[start_index:fault_index]]) # create a window dataframe and add it to the empty dataframe
        window_data.loc[window_data.index[-1], 'unique_spn_count'] = window_data['spn'].nunique() # this is a little complicated
        # but since this is inside a loop, i only want to count the most recent one hence .index(-1)
        window_data['multiple_spns'] = window_data['unique_spn_count'] > 1 # boolean based on the code above
    return window_data.reset_index() # return the window dataframe after the loop ends

result = chosen_equipments_dummies.groupby('EquipmentID_x').apply(check_for_other_spns) 

# cleanup result to get a dataframe with eventtimestamp as index
result.drop(columns='index').reset_index(drop = True)
result.set_index('EventTimeStamp_x', inplace=True)
result.drop(columns = "index")

# do the same for the original datafrmae out of caution
chosen_equipment_dummies_reset = chosen_equipments_dummies.reset_index()
chosen_equipment_dummies_reset.set_index('EventTimeStamp_x', inplace=True)

# now we merge on both index and recordid to prevent doublecounting 
final_dataframe = pd.merge(chosen_equipment_dummies_reset, result[['multiple_spns', 'RecordID']], how='left', left_on=['EventTimeStamp_x', 'RecordID'], right_on=['EventTimeStamp_x', 'RecordID'])

# fill all nas with false 
final_dataframe['multiple_spns'].fillna(False, inplace=True)

final_dataframe.to_csv('../data/big_g_pipeline_ready.csv', index=False)

C:\Users\micha\AppData\Local\Temp\ipykernel_9600\998061047.py:2: DtypeWarning: Columns (11,14,17,18,21,22,24,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  chosen_equipments_dummies = pd.read_csv('../data/big_g_pipeline_ready.csv', index_col= False)